@model uSyncScrapper.Models.Module
@using uSyncScrapper.Models
@using uSyncScrapper.Extensions


<h3><a name="@Model.Link">@Model.Name</a> <span class="grey">module</span></h3>

<br />
<span class="property-title">Properties:</span>

<ul>
    @foreach (var p in Model.ContentType.Properties)
    {
        <li>
            <span class="property-title">@p.Name</span>: @p.Text
        </li>
    }
</ul>
