@model uSyncScrapper.Models.Module
@using uSyncScrapper.Models
@using uSyncScrapper.Extensions

<h3><a name="@Model.Link">@Model.Name</a> <span class="grey">module</span></h3>

<br />
<span class="property-title">Properties:</span>
<br />